@import 'mixins';
@import 'reset';

body {
  color: #fff;
  font-size: 62.5%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  background-color: #181849;

}

main {
  //@include center;
  padding-top: 10px;
  width: 100%;
  font-size: 1.8em;
}

h1 {
  color: #fff;
  font-size: 1.3em;
}

