<!-- deze file wordt in het spel ingeladen -->

<main>
  <span class="level {{level}}"></span>

  {{> welcome this}}

  <video class="hidden" id="video" width="320" height="240" preload autoplay loop muted></video>
  <canvas class="hidden" id="canvas" width="320" height="240"></canvas>
</main>

{{#section 'head'}}
{{/section}}

{{#section 'scripts'}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
  <!--<script src="../bower_components/tracking/build/tracking-min.js"></script>-->
    <script src="/js/script.js"></script>

{{/section}}
