<!-- deze file wordt in de startpagina ingeladen -->
<main class="center">

<section class="headsection">
    <div class="logo"><span>Connect the dots</span></div>

  <p>Use a magenta colored object to steer the rocket.
  Try steering through the circles and wait for the end.</p>

</section>
<form class="form" method="post" action="/connectthedots">
<div class="level">


  <input class="firstinput" id="easy" type="radio" name="level" value="easy" />
  <label for="easy" >easy</label>

  <input class="firstinput" id="medium" type="radio" name="level" value="medium" />
  <label for="medium" >medium</label>

  <input class="firstinput" id="insane" type="radio" name="level" value="insane" />
  <label for="insane">insane</label>

</div>

<div class="controls hidden">

  <input class="gamemode" id="keyboard" type="radio" name="mode" value="keyboard" />
  <label for="keyboard"></label>
  <input class="gamemode" id="webcam" type="radio" name="mode" value="webcam" />
  <label for="webcam"></label>

</div>
<input class="submit hidden" type="submit" name="submit" value="start" />
</form>
</main>


{{#section 'head'}}

{{/section}}


{{#section 'scripts'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="js/homepageScript.js"></script>
{{/section}}
