<main>
  {{> welcome this}}
</main>

{{#section 'head'}}

{{/section}}

{{#section 'scripts'}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.js"></script>
  <!--<script src="../bower_components/tracking/build/tracking-min.js"></script>-->
{{/section}}
